<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Blog pessoal</title>
</head>
<body>
    <header class="header-container">
        <h1 class="title-aplication">Blog pessoal</h1>
        <nav class="nav-container">
            <ul class="links-container">
                <li class="list-link"><a class="link nav-link" href="/">Home</a></li>
                <li class="list-link"><a class="link nav-link" href="/novo-post">Nova publicação</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-container">
        <article class="post-container" th:each="post : ${posts}">
            <h3 class="post-title" th:text="${post.titulo}"></h3>
            <p class="post-text" th:text="${post.conteudo}"></p>
            <div class="post-links-container">
                <a class="link post-link" th:href="@{/editar/{id}(id=${post.id})}"><img src="/images/pencil.svg" alt="lapis de edição">Editar</a>
                <a class="link post-link" th:href="@{/excluir/{id}(id=${post.id})}" onclick="return confirm('Tem certeza de que deseja excluir o post?')"><img src="/images/trash.svg" alt="lixeira para excluir">Excluir</a>
            </div>
        </article>
    </main>
    <footer class="footer-container">
        <h2 class="dev-title">Desenvolvido por <strong class="dev-name">Thatyane Marques</strong></h2>
    </footer>
</body>
</html>